* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;


}


body {
  
    background: radial-gradient(333.52% 143.23% at 52.59% 135.63%, #5F5F5F 0%, #000000 65.27%)
    
}


aside {
    background: #DDE5EA;
    display: inline-block;
    width: 126px;
    height: 1000px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1.25em;
    text-transform: uppercase;
    color: #373737;
    transform: rotate(90.16deg);
    margin-top: 100px;
    text-align: left;
    position: absolute;
    left: -11%;
    top: 400px;
}

.swoosh {
    width: 52.75px;
    height: 25.41px;
    margin-left: 40px;
    margin-top: 50px;

}

.links {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 750px;
    cursor: pointer;
}

a {
    margin-right: 50px;

}

a:hover {
    color: #5F5F5F;
  text-decoration: underline;
}

h1{
    font-style: italic;
    font-weight: 900;
    font-size: 160.5px;
    line-height: 193px;
    color: #FFFFFF;
   position: absolute;
   top: 300px;
   left: 200px;
}

h2{
 font-style: italic;
font-weight: 500;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.15em;
color: #FFFFFF;
position: absolute;
top: 500px;
left: 200px;
}
h4{
font-style: italic;
font-weight: 500;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.15em;
color: #FFFFFF;
position: absolute;
top: 580px;
left:200px ;
}

p{
font-style: italic;
font-weight: 500;
font-size: 14px;
line-height: 228%;
letter-spacing: 0.05em;
color: #C7D8E9;
position: absolute;
top: 650px;
left: 200px;
width: 486px;
}

button{
background: #DDE5EA;
border-radius: 25px;
width: 132px;
height: 50px;
position: absolute;
top: 800px;
left: 200px;
border: none;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
color: #000000;
text-transform: uppercase;
cursor: pointer;
}

button:hover{
    opacity: 0.9;
}


#ellipse-text{
    position: absolute;
    top: 430px;
    right: 1000px;
    opacity: 0.7;
}

#shoes{
    transform: rotate(-10.5deg);
    position: absolute;
    width: 953px;
    top: 100px;
    left: 800px;
    

}

#ellipse-2{
    position: absolute;
    top: 200px;
    right: 500px;
    width: 300px;
    opacity: 0.2;
}

#ellipse-3{
    position: absolute;
    top: 580px;
    right: 400px;
}

#ellipse-4{
    position: absolute;
    top: 300px;
    right: 150px;
    


}